FLASK_ENV=development

#if using mongodb on localhost like docker
#MONGO_URI=mongodb://localhost:27017/webhook-events-DB
SECRET_KEY=your-secret-key

#if using mongodb Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/webhook-events-DB
